* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins-r;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-m;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-b;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #f0f2f5;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.fa-heart {
    font-size: 15px;
}

.inCart-btn {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2f5;
    border-radius: 8px;
    padding: 0 5px;
    margin-top: 17px;
}

.inCart-btn button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

.product-text {
    color: black;
    font-family: poppins-b;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.product-text i {
    font-size: 18px;
}

/* Footer start */

footer {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-top h1 {
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: poppins-m;
    line-height: 19px;
}

.footer-top a {
    color: #8b8e99;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #8b8e99;
    margin-top: 50px;
    padding: 10px 0;
    align-items: center;
}

.footer-bottom p {
    font-size: 11px;
    font-family: poppin-r;
    font-weight: 400;
    line-height: 14px;
    color: #8b8e99;
}

.footer-agreements {
    display: flex;
    gap: 16px;
}

.footer-agreements a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: poppins-m;
    font-weight: 500;
    line-height: 18px;
}

.fa-apple {
    font-size: 18px;
}

.fa-google-play {
    font-size: 17px;
}

.footer-main-card a {
    font-size: 13px;
    font-family: poppins-m;
    font-weight: 500;
    color: black;
}

.footer-main-card h3 {
    color: black;
    font-size: 14px;
    font-family: poppins-m;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.footer-main-card h4 {
    color: black;
    font-size: 14px;
    font-family: poppins-m;
    font-weight: 500;
    line-height: 18px;
    margin-top: 30px;
}

.messengers {
    margin-top: 10px;
}

.messengers a {
    font-size: 36px;
}

/* Footer end */

/* Cart start */

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.cart-main-text {
    display: block;
    color: black;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
}

.cart-main-text span {
    color: #7e818c;
}

.cart-left {
    width: 67%;
    border: 1px solid #8b8e99;
    border-radius: 10px;
    padding: 20px;
}

.cart-right {
    width: 33%;
    border: 1px solid #8b8e99;
    border-radius: 10px;
    padding: 20px;
    height: 230px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

.cart-order h1 {
    color: black;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}

.cart-order h2 {
    color: black;
    font-family: poppins-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.cart-order h2 span {
    color: #7f4dff;
}

.cart-right p {
    font-size: 16px;
    color: black;
    font-family: poppins-b;
    font-weight: 600;
    line-height: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.cart-right p span {
    color: #7f4dff;
}

.cart-right h4 {
    color: #00ad3a;
    font-size: 14px;
    font-weight: 550;
    font-family: poppins-m;
    line-height: 18px;
    text-align: right;
    margin-top: 5px;
}

.order-btn {
    width: 100%;
    height: 44px;
    background-color: #7000ff;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-family: poppins-m;
    font-weight: 500;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-left {
    display: flex;
    gap: 25px;
}

.cart-item-left img {
    width: 120px;
    height: 120px;
}

.cart-item-left h3 {
    font-size: 16px;
    color: black;
    font-family: poppins-m;
    font-weight: 500;
    margin-top: 7px;
}

.cart-item-left h4 {
    font-size: 14px;
    color: #7e818c;
    font-family: poppins-m;
    font-weight: 500;
    margin-top: 7px;
}

.cart-item-left h4 span {
    color: black;
}

.cart-item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.cart-inc-dec-btn {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #8b8e99;
    border-radius: 5px;
}

.cart-inc-dec-btn button {
    width: 38px;
    height: 38px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
}

.cart-delete-btn {
    width: 98px;
    height: 24px;
    border: none;
    font-size: 14px;
    font-family: poppins-m;
    font-weight: 500;
    color: #7e818c;
    background-color: transparent;
    cursor: pointer;
}

/* Cart end */

/* Card Detail start */

.card-detail {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 30px;
    position: relative;
}

.card-detail-left {
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.card-detail-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-detail-info h1 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: black;
}

.card-detail-info h3 {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 5px;
    color: black;
}

.card-detail-right {
    width: 30%;
    padding: 24px 20px;
    border: 1px solid #7e818c;
    border-radius: 20px;
    height: 230px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

.product-comments-card {
    width: 400px;
    height: 140px;
    border: 1px solid #7e818c;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 3px #f0f2f5;
    transition: box-shadow 0.2s ease-in-out;
}

.comments-card-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.comments-card-top h6 {
    font-size: 14px;
    color: black;
    font-family: poppins-b;
    font-weight: 600;
    line-height: 18px;
}

.comments-card-top p {
    font-size: 12px;
    color: black;
    font-family: poppins-r;
    font-weight: 400;
    color: #7e818c;
    line-height: 18px;
    margin-top: 4px;
}

.product-comments-card h5 {
    font-family: roboto-m;
    font-weight: 500;
    font-size: 14px;
    color: black;
    line-height: 18px;
}

.product-comments-card h5 span {
    color: #7e818c;
}

.card-detail-right p {
    font-size: 16px;
    color: black;
    font-family: poppins-b;
    font-weight: 600;
    line-height: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.card-detail-right p span {
    color: #7f4dff;
}

.card-detail-right h4 {
    color: #00ad3a;
    font-size: 14px;
    font-weight: 550;
    font-family: poppins-m;
    line-height: 18px;
    text-align: right;
    margin-top: 5px;
}
