* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #f0f2f5;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.fa-heart {
    font-size: 15px;
}

.inCart-btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2f5;
    padding: 0 5px;
    margin-top: 10px;
}

.inCart-btn button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}
